<% let title='トップページ' ; let description='トップページのディスクリプション' ; let pageId='home' ; %>
  <%- include('./common/_header', { title: title, description: description, pageId: pageId }) %>

    <main class="topMain c-main">
      <section class="topMv">
        <div class="topMv_wrap">
          <img src="assets/image/leaf.png" alt="leaf">
        </div>
        <div class="topMv_wrap">
          <img src="assets/image/Vector.png" alt="vector">
        </div>
        <div class="topMv_wrap">
          <img src="assets/image/wolfHead.png" alt="wolf">
        </div>
        <div class="topMv_wrap">
          <img src="assets/image/city.png" alt="city">
        </div>
        <div class="topMv_wrap">
          <img src="assets/image/round_logo.png" alt="round_logo">
        </div>
        <div class="topMv_wrap">
          <p><span>U</span>NION<br>CREATE<br>STRENGTH</p>
        </div>
      </section>
      <section class="topContents">

        <div class="topContents_bg">
          <img src="assets/image/contents_bg.png" alt="round_logo">
        </div>

        <div class="topContents_wrap">
          <div class="topContents_about">
            <h2 class="topContents_about-ttl">ABOUT</h2>

            <p class="topContents_about-text">
              　　マーベリックスは技術力とコミュニケーションスキルを兼ね備えたエンジニア集団。<br>
              　それぞれの個性を活かしチームで取り組むからこそ最高の価値を提供できる。<br>
              変化を恐れず己を磨き、挑戦を続けながら明日の世界を創造していく。
            </p>
            <%- include('./common/_button',{link:"about.html"}) %>
          </div>

          <div class="topContents_service">
            <div class="topContents_service-container">
              <h2 class="topContents_service-ttl"><span>S</span>ERVISE</h2>
              <p class="topContents_service-text">マーベリックスは経験豊富なメンバーによるサイト制作やシステム開発を得意としています。
                さらに業務に柔軟に対応できる「リモートラボ」なら、お客様の開発を効率的に進めることができます。</p>
              <%- include('./common/_button',{link:"servise.html"}) %>
            </div>
            <div class="topContents_service-pic">
              <img src="assets/image/service.png" alt="round_logo">
            </div>
          </div>

          <div class="topContents_blog">
            <h2 class="topContents_blog-ttl"><span>B</span>LOG</h2>
            <div class="topContents_blog-container">
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
              <div class="topContents_blog-contents">
                <div class="topContents_blog-pic">
                  <img src="assets/image/blog_1.png" alt="">
                </div>
                <p>2023.09.08 | CATEGORY</p>
                <p>Postman Sapporo Meetup へ参加しました！</p>
              </div>
            </div>
            <%- include('./common/_button',{link:"blog.html"}) %>
          </div>

          <div class="topContents_member">
            <div class="topContents_member-container">
              <h2 class="topContents_member-ttl"><span>M</span>EMBER</h2>
              <div class="topContents_member-pic">
                <img src="assets/image/member.png" alt="member">
              </div>
              <p>個性あるマーベリックスの仲間を紹介します！</p>
              <%- include('./common/_button',{link:"member.html"}) %>
            </div>
          </div>

          <div class="topContents_decoration">
            <img src="assets/image/MAVS.png" alt="">
          </div>

          <div class="topContents_banner">
            <img src="assets/image/banner.png" alt="">
          </div>

          <div class="topContents_news">
            <div class="topContents_news-container">
              <h2 class="topContents_news-ttl"><span>N</span>EWS</h2>
              <%- include('./common/_button',{link:"servise.html"}) %>
            </div>
            <div class="topContents_news-menu">
              <ul>
                <li>ホームページをリニューアルしました</li>
                <li>ホームページをリニューアルしました</li>
                <li>ホームページをリニューアルしました</li>
              </ul>
            </div>
          </div>

        </div>
      </section>

    </main>

    <%- include('./common/_footer') %>